@import url(./_theme/_dark/section-title_theme_dark.css);

.section-title {
  margin-top: 100px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}
